In [70]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import scipy
import re
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm

# TOMORROW READ NOTES BELOW AND CONTINUE!!!

# I initially left some visualizations, to check that I did everything correct, so check that, and then delete some visulizations (i.e.) regression outputs and GATES comparison with True and Naive one!!!! UPD: I CHECKED IT, EVERYTHING IS FINE, Naive_estimated_GATES_comparison.png can be checked (got the same graph, like in the paper!!!!), ONLY VISUALIZATION NEEDED LATER ON ARE LEFT NOW!!!!!
# Make the function with three parameters: model (if tuning, do it before putting model into this function), dataset, and the number of different data splits (onto A and B sample)!!!

# Hyperparameter tuning: do the optimization using the following targets (2 TARGETS), BUT IN PRACTICE, NO MATTER WHETHER SUCH HYPEROPTIMIZATION HELPS, DO HYPEROPTIMIZATION WHICH MINIMIZES MSE AND CHECK WHETHER HETEROGENEITY EXISTS AT ALL!!!!!! (IF NO HETEROGENEITY, NEW HYPEROPTIMIZATION IS EXPECTED TO 'BRING HETEROGENEITY' WHICH DOES NOT EXIST!!!!!!

# Return of the function: 
## 1) GATES and CLAN tables with median values and median SCI (which will become 95% ones!!!) (or it still will be 97.5% if 1 datasplit!!!!) <br>  (IF 2 DATASPLITS, WHAT CONFIDENCE LEVEL IT WILL BE BY THE WAY?????)
## 2a) If only 1 or several datasplits: return median 2 metrics (BLP and GATES one, which will be used as targets for the hyperparameter tuning, but try calculating this target at one split (faster), or median of several splits (less bias), BUT HYPERPARAMETER TUNING IS DONE USING CROSS-VALIDATION, SO MAYBE NO MUCH NEED TO USE DIFFERENT DATA SPLITS, DURING TUNING!!!
## 2b) If more datasplits (i.e. 100): create 4 graphs after everything is done for each split!!! Histogram (or kde) of: 1, 2) Two target metrics for the quality of the model. 3, 4) mse, mae of S(X) relative to s_0(X) (1 obs - 1 datasplit). Also write descriptive statistics of these 4 variables!!!
## 2* Make return of graphs of 2b) optional, as a parameter of function (i.e 'Extended' binary parameter)(make and return these graphs or not, since sometimes I may need 1 datasplit, not 100, so the graphs would be pointless in this case!!!)
## * Also make optional parameter of whether to show the summary of BLP regression (needed to create DGPs, which should show the difference, i.e. beta_2 parameter significantly far away from 1)!!! 
## ** Also do three small supportive functions: The one which returns BLP regression only (to create needed DGPs faster!!!). And two functions which return needed targets (convinient functions for the hyperparameter tuning!!!)

In [29]:
# setting ggplot style for the graphs
plt.style.use('ggplot')

# Some data generating process

In [30]:
np.random.seed(100)
# empty df
df = pd.DataFrame()
# NUMBER OF OBSERVATIONS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1
obs = 10000
# explanatory variables: X
df['x1'] = np.random.uniform(-1, 3, obs)
df['x2'] = np.random.uniform(-6, 2, obs)
df['x3'] = np.random.uniform(8, 14, obs)
df['x4'] = np.random.uniform(2, 30, obs)
df['x5'] = np.random.uniform(-8, 10, obs)
eps = np.random.normal(0, 16, obs)
eps1 = np.random.normal(0, 16, obs)
# b(X) = Y(0)
b_0 = 4 + 6*df.x1 + 8*df.x2 - 9*df.x1*df.x2 + 3 * np.log(df.x3) - df.x4**(1/3) * df.x3 + eps
# propensity score: p(D = 1 | X), bounded from 0 and 1
df['p'] = (8 + df.x1 + df.x2 + df.x3 * 0.5) / 32
# s(X) = Y(1) - Y(0)
df['s_0(X)'] = np.maximum(0, df.x1) - np.log(10 + df.x2) + np.minimum(0, df.x1 * df.x2) +\
               (df.x4-16)**2 + 6 * df.x3 + eps1
#df['s_0(X)'] = 0
# whether the treatment was assigned (D), given propensity score
df['D'] = np.random.binomial(1, df.p)
# CREATION OF Y:
df['y'] = b_0 + df['s_0(X)'] * df.D

In [31]:
df.head()

,x1,x2,x3,x4,x5,p,s_0(X),D,y
0,1.173620,0.945756,13.215007,21.900172,-4.352087,0.522715,122.180856,1,101.264151
1,0.113478,1.952099,12.554939,5.891914,3.417984,0.510720,174.112055,0,-25.246913
2,0.698070,1.510368,10.737484,23.936492,-0.982472,0.486787,91.193897,1,74.214096
3,2.379105,-4.337320,8.360820,17.193009,7.172067,0.319444,44.794767,0,46.031407
4,-0.981125,-0.274822,13.632987,26.541834,7.123235,0.423767,212.692860,1,156.119771

In [32]:
df.shape

(10000, 9)

## ML model!!!

In [33]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

### Split the data onto 2 parts

In [34]:
ind_A = random.sample(range(int(obs)), int(obs / 2))
ind_B = list(set(range(int(obs))).difference(set(ind_A)))
df_A = df.iloc[ind_A, :].copy()
df_B = df.iloc[ind_B, :].copy()

### Automatic search for the covariates columns!!!

In [35]:
x_cols = []
for i in df.columns:
    regexp = re.compile(r'^x\d+$')
    if regexp.search(i):
        x_cols.append(i)
x_cols

['x1', 'x2', 'x3', 'x4', 'x5']

### Modelling

In [36]:
# D = 0
X_train = df_A[df_A['D'] == 0][x_cols]
y_train = df_A[df_A['D'] == 0]['y']
X_pred = df_B[x_cols]
rf.fit(X_train, y_train)
df_B['B(X)'] = rf.predict(X_pred)
df_B.head()

,x1,x2,x3,x4,x5,p,s_0(X),D,y,B(X)
1,0.113478,1.952099,12.554939,5.891914,3.417984,0.510720,174.112055,0,-25.246913,8.480289
2,0.698070,1.510368,10.737484,23.936492,-0.982472,0.486787,91.193897,1,74.214096,-10.940413
4,-0.981125,-0.274822,13.632987,26.541834,7.123235,0.423767,212.692860,1,156.119771,-33.375528
5,-0.513724,0.353463,9.564579,29.644230,7.910124,0.394438,228.275912,0,-28.042443,-13.614750
7,2.303411,-2.453674,9.559623,9.219513,1.638712,0.394673,75.261756,0,18.614679,35.892834

In [37]:
# D = 1
rf = RandomForestRegressor()
X_train = df_A[df_A['D'] == 1][x_cols]
y_train = df_A[df_A['D'] == 1]['y']
X_pred = df_B[x_cols]
rf.fit(X_train, y_train)
df_B['E(Y|D=1)'] = rf.predict(X_pred)

In [38]:
df_B['S(X)'] = df_B['E(Y|D=1)'] - df_B['B(X)']

# I) BLP: page 11 of the paper (1st strategy)

In [39]:
# creating missing variables for BLP estimation
df_B['const'] = 1
df_B['D_minus_p'] = df_B['D'] - df_B['p']
df_B['D_minus_p_times_S(X)_minus_ES'] = df_B['D_minus_p'] * (df_B['S(X)'] - np.mean(df_B['S(X)']))

In [40]:
vars_to_use_in_BLP = ['const', 'B(X)', 'D_minus_p', 'D_minus_p_times_S(X)_minus_ES']

### Weighting variable for the WLS

In [41]:
df_B['omega(X)'] = 1 / df_B['p'] / (1 - df_B['p'])

### Variables for the BLP WLS

In [42]:
Xs_BLP = ['const', 'B(X)', 'D_minus_p', 'D_minus_p_times_S(X)_minus_ES']

## BLP regression and beta_2 which is proportional to the quality of prediction of heterogeneity if heterogeneity exists!!!!

In [43]:
model_BLP = sm.WLS(df_B['y'], df_B[Xs_BLP], weights = df_B['omega(X)'] ** 2).fit(cov_type='HC3')
beta_2 = model_BLP.params[-1]
print(beta_2)
model_BLP.summary()

0.9429512798920092

<class 'statsmodels.iolib.summary.Summary'>
"""
                            WLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.848
Model:                            WLS   Adj. R-squared:                  0.848
Method:                 Least Squares   F-statistic:                     7598.
Date:                Sun, 05 Jun 2022   Prob (F-statistic):               0.00
Time:                        14:25:41   Log-Likelihood:                -24719.
No. Observations:                5000   AIC:                         4.945e+04
Df Residuals:                    4996   BIC:                         4.947e+04
Df Model:                           3
Covariance Type:                  HC3
=================================================================================================
                                    coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
const                            49.0708      0.493     99.457      0.000      48.104      50.038
B(X)                              1.0598      0.012     85.680      0.000       1.036       1.084
D_minus_p                       128.7390      1.076    119.601      0.000     126.629     130.849
D_minus_p_times_S(X)_minus_ES     0.9430      0.022     42.066      0.000       0.899       0.987
==============================================================================
Omnibus:                       89.071   Durbin-Watson:                   2.011
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               94.344
Skew:                           0.317   Prob(JB):                     3.26e-21
Kurtosis:                       3.224   Cond. No.                         87.8
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC3)
"""

# FIRST METRIC OF MODEL QUALITY FROM THE PAPER (FIRST TARGET IN HYPERPARAMETER TUNING)

In [44]:
Lambda_hat = model_BLP.params[-1] ** 2 * np.var(df_B['S(X)'])
print(Lambda_hat)

3288.609962847282

## Creating group dummy variables: Split onto 5 equal-sized groups, based on S(X) (1st group with lowest S(X), 5th group with highest S(X))

In [45]:
df_B = df_B.sort_values('S(X)')

for i in range(5):
    name = 'Group_{}'.format(i + 1)
    zero_vector = np.zeros(df_B.shape[0])
    # needed quantile gets 1!!
    start_index = int(round(i * df_B.shape[0] / 5))
    end_index = int(round((i + 1) * df_B.shape[0] / 5))
    zero_vector[start_index: end_index] = 1
    df_B[name] = zero_vector
    
df_B = df_B.sort_index()

## Creating variables for the GATES 1st strategy WLS

In [46]:
df_B.columns

Index(['x1', 'x2', 'x3', 'x4', 'x5', 'p', 's_0(X)', 'D', 'y', 'B(X)',
       'E(Y|D=1)', 'S(X)', 'const', 'D_minus_p',
       'D_minus_p_times_S(X)_minus_ES', 'omega(X)', 'Group_1', 'Group_2',
       'Group_3', 'Group_4', 'Group_5'],
      dtype='object')

In [47]:
# non-weighted new vars
for i in range(5):
    name = 'D_minus_p_Group_{}'.format(i + 1)
    group_name = 'Group_{}'.format(i + 1)
    df_B[name] = df_B['D_minus_p'] * df_B[group_name]

In [48]:
Xs_for_GATES = ['const', 'B(X)', 'D_minus_p_Group_1',
       'D_minus_p_Group_2', 'D_minus_p_Group_3',
       'D_minus_p_Group_4', 'D_minus_p_Group_5']

## Actual GATES WLS

In [49]:
model_GATES = sm.WLS(df_B['y'], df_B[Xs_for_GATES], weights = df_B['omega(X)']).fit(cov_type='HC3')

# SECOND METRIC OF MODEL QUALITY FROM THE PAPER (SECOND CANDIDATE OF TARGET IN HYPERPARAMETER TUNING)

In [50]:
# assuming that there will always be a partition onto 5 groups, 
    # SO TAKING LAST 5 PARAMETERS HERE IS ALWAYS CORRECT!!!!!!
Lambda_bar_hat = 0.2 * np.sum(model_GATES.params[-5:] ** 2)
Lambda_bar_hat

19944.205847745554

In [51]:
group_cols = ['Group_1', 'Group_2', 'Group_3', 'Group_4', 'Group_5']

Estimated_GATES = model_GATES.params[-5:]
Naive_GATES = [df_B[df_B[group_cols[i]] == 1]['S(X)'].mean() for i in range(5)]
True_GATES = [df_B[df_B[group_cols[i]] == 1]['s_0(X)'].mean() for i in range(5)]

# III) CLAN
## Page 17 of the paper, just do GATES difference and other covariates difference

In [52]:
df_B_group1 = df_B[df_B['Group_1'] == 1]
df_B_group5 = df_B[df_B['Group_5'] == 1]
# leave only needed columns for CLAN, based on tables 4, 5, 6 from the paper!!!!
cols_for_CLAN = ['x1', 'x2', 'x3', 'x4', 'x5', 'D', 'y', 'p', 's_0(X)', 'B(X)',
       'E(Y|D=1)', 'S(X)']

## a) Analysis of the GATES, SCI taken from the Chernozhukov's 1st lecture: 
### https://ocw.mit.edu/courses/14-382-econometrics-spring-2017/c62d33e015c910b0d126bcc9344cf2c5_MIT14_382S17_lec1.pdf

# Proceeding with simultaneous confidence intervals!!!

In [53]:
# 500000 samples of Max (absolute value) out of 5 standard normals FOR CRITICAL VALUE!!!
k = np.max(np.abs(np.random.multivariate_normal(np.zeros(5), np.identity(5), 500000)), axis = 1)

In [54]:
# critical value for two-sided 97.5% interval!!!! (taking not 98.75%, since used np.abs above!!!!)
# DOING 97.5% SINCE AFTERWARDS I WILL DO MEDIANS AND INTERVAL WILL BECOME 95%!!!!
crit_val_simult = np.percentile(k, 97.5)
crit_val_simult

2.798227062213706

In [55]:
# SE of coefs, and coefs themselves
EST_GATES = model_GATES.params[-5:]
SE_EST_GATES = model_GATES.bse[-5:]

In [56]:
# simult CI for the GATES in estimated groups!!!
simult_CI_L_EST_GATES = EST_GATES - crit_val_simult * SE_EST_GATES
simult_CI_U_EST_GATES = EST_GATES + crit_val_simult * SE_EST_GATES

### Grouping by REAL treatment effect!!!: Split onto 5 equal-sized groups, based on s_0(X) (1st group with lowest s_0(X), 5th group with highest s_0(X))

In [57]:
df_B = df_B.sort_values('s_0(X)')

for i in range(5):
    name = 'Group_{}_REAL'.format(i + 1)
    zero_vector = np.zeros(df_B.shape[0])
    # needed quantile gets 1!!
    start_index = int(round(i * df_B.shape[0] / 5))
    end_index = int(round((i + 1) * df_B.shape[0] / 5))
    zero_vector[start_index: end_index] = 1
    df_B[name] = zero_vector
    
df_B = df_B.sort_index()

### REAL GATES

In [58]:
REAL_GATES = np.zeros(5)
SE_REAL_GATES = np.zeros(5)
for num, i in enumerate(['Group_1_REAL', 'Group_2_REAL', 'Group_3_REAL', 'Group_4_REAL', 'Group_5_REAL']):
    REAL_GATES[num] = df_B[df_B[i] == 1]['s_0(X)'].mean()
    SE_REAL_GATES[num] = df_B[df_B[i] == 1]['s_0(X)'].std() / np.sqrt(df_B[df_B[i] == 1].shape[0])

In [59]:
# simult CI for the GATES in REAL groups!!!
simult_CI_L_REAL_GATES = REAL_GATES - crit_val_simult * SE_REAL_GATES
simult_CI_U_REAL_GATES = REAL_GATES + crit_val_simult * SE_REAL_GATES

## 97.5% SCI

In [60]:
GATES_table = pd.DataFrame({'Group': range(1, 6), 'GATES_estimated': EST_GATES, 'SCI_L_estimated': simult_CI_L_EST_GATES, 
              'SCI_U_estimated': simult_CI_U_EST_GATES, 'GATES_real': REAL_GATES,
              'SCI_L_real': simult_CI_L_REAL_GATES, 'SCI_U_real': simult_CI_U_REAL_GATES}).set_index('Group')
GATES_table

,GATES_estimated,SCI_L_estimated,SCI_U_estimated,GATES_real,SCI_L_real,SCI_U_real
Group,,,,,,
1,64.224822,57.401847,71.047796,55.551432,54.487578,56.615287
2,82.494100,77.023861,87.964339,84.771293,84.092935,85.449651
3,114.407179,109.286200,119.528159,115.805533,114.874304,116.736762
4,165.052840,158.902401,171.203278,162.118361,160.731254,163.505468
5,220.135146,210.780995,229.489297,225.864800,223.777269,227.952332

# 97.5% SCI everywhere below!!!!

## Group 1

In [61]:
# to Add GATES params
CLAN_cols = ['GATES'] + x_cols
num_rows_CLAN = len(CLAN_cols) 

G1_est = np.zeros(num_rows_CLAN)
SCI_L_G1_est = np.zeros(num_rows_CLAN)
SCI_U_G1_est = np.zeros(num_rows_CLAN)
G1_real = np.zeros(num_rows_CLAN)
SCI_L_G1_real = np.zeros(num_rows_CLAN)
SCI_U_G1_real = np.zeros(num_rows_CLAN)
# matrix with CLAN data
CLAN_data_G1 = np.zeros((num_rows_CLAN, 6))
# GATES
CLAN_data_G1[0] = GATES_table.iloc[0]
# Other vars (X), filling by column
for num, i in enumerate(['Group_1', 'Group_1_REAL']):
    # point estimate
    CLAN_data_G1[1:, num*3] = df_B[df_B[i] == 1][x_cols].mean()
    # Lower SCI
    CLAN_data_G1[1:, num*3 + 1] = df_B[df_B[i] == 1][x_cols].mean() -\
                            crit_val_simult * df_B[df_B[i] == 1][x_cols].std() / np.sqrt(df_B[df_B[i] == 1].shape[0])
    # Upper SCI
    CLAN_data_G1[1:, num*3 + 2] = df_B[df_B[i] == 1][x_cols].mean() +\
                            crit_val_simult * df_B[df_B[i] == 1][x_cols].std() / np.sqrt(df_B[df_B[i] == 1].shape[0])


pd.DataFrame(CLAN_data_G1)

           0          1          2          3          4          5
0  64.224822  57.401847  71.047796  55.551432  54.487578  56.615287
1   1.135512   1.031027   1.239998   1.033759   0.929112   1.138405
2  -2.052534  -2.249804  -1.855264  -2.126684  -2.327169  -1.926199
3  10.160634  10.026101  10.295168  10.301688  10.159451  10.443924
4  15.958410  15.709551  16.207269  15.894480  15.645226  16.143734
5   1.248322   0.782061   1.714582   1.034053   0.577054   1.491052

## Group 5

In [62]:
# to Add GATES params
CLAN_cols = ['GATES'] + x_cols
num_rows_CLAN = len(CLAN_cols) 

G5_est = np.zeros(num_rows_CLAN)
SCI_L_G5_est = np.zeros(num_rows_CLAN)
SCI_U_G5_est = np.zeros(num_rows_CLAN)
G5_real = np.zeros(num_rows_CLAN)
SCI_L_G5_real = np.zeros(num_rows_CLAN)
SCI_U_G5_real = np.zeros(num_rows_CLAN)
# matrix with CLAN data
CLAN_data_G5 = np.zeros((num_rows_CLAN, 6))
# GATES
CLAN_data_G5[0] = GATES_table.iloc[4]
# Other vars (X), filling by column
for num, i in enumerate(['Group_5', 'Group_5_REAL']):
    # point estimate
    CLAN_data_G5[1:, num*3] = df_B[df_B[i] == 1][x_cols].mean()
    # Lower SCI
    CLAN_data_G5[1:, num*3 + 1] = df_B[df_B[i] == 1][x_cols].mean() -\
                            crit_val_simult * df_B[df_B[i] == 1][x_cols].std() / np.sqrt(df_B[df_B[i] == 1].shape[0])
    # Upper SCI
    CLAN_data_G5[1:, num*3 + 2] = df_B[df_B[i] == 1][x_cols].mean() +\
                            crit_val_simult * df_B[df_B[i] == 1][x_cols].std() / np.sqrt(df_B[df_B[i] == 1].shape[0])


pd.DataFrame(CLAN_data_G5)

            0           1           2           3           4           5
0  220.135146  210.780995  229.489297  225.864800  223.777269  227.952332
1    0.839687    0.738757    0.940617    0.912769    0.810039    1.015500
2   -1.986917   -2.192005   -1.781829   -1.938307   -2.142331   -1.734283
3   11.220309   11.066951   11.373667   11.329557   11.176812   11.482303
4   15.613347   14.499028   16.727666   15.970532   14.860117   17.080947
5    0.890815    0.428306    1.353324    1.019321    0.557491    1.481151

## Group 5 - Group 1 
## IN SCI DIVIDING BY SQRT OF NUMBER OF GROUP 5 OBSERVATIONS, ASSUMING THAT THE NUMBER OF OBSERVATIONS IN FIRST AND FIFTH GROUP IS THE SAME!!!!

In [63]:
# to Add GATES params
CLAN_cols = ['GATES'] + x_cols
num_rows_CLAN = len(CLAN_cols) 

G5_minus_G1_est = np.zeros(num_rows_CLAN)
SCI_L_G5_minus_G1_est = np.zeros(num_rows_CLAN)
SCI_U_G5_minus_G1_est = np.zeros(num_rows_CLAN)
G5_minus_G1_real = np.zeros(num_rows_CLAN)
SCI_L_G5_minus_G1_real = np.zeros(num_rows_CLAN)
SCI_U_G5_minus_G1_real = np.zeros(num_rows_CLAN)
# matrix with CLAN data
CLAN_data_G5_minus_G1 = np.zeros((num_rows_CLAN, 6))
## GATES (real and estimated simultaneously)
# point estimates
CLAN_data_G5_minus_G1[0, [0, 3]] = np.array(GATES_table.iloc[4, [0, 3]]) - np.array(GATES_table.iloc[0, [0, 3]])
SCI_radius_G5_minus_G1_GATES = np.sqrt((np.array(GATES_table.iloc[4, [0, 3]]) - np.array(GATES_table.iloc[4, [1, 4]])) ** 2 +\
                                       (np.array(GATES_table.iloc[0, [0, 3]]) - np.array(GATES_table.iloc[0, [1, 4]])) ** 2)
# SCI L
CLAN_data_G5_minus_G1[0, [1, 4]] = np.array(GATES_table.iloc[4, [0, 3]]) - np.array(GATES_table.iloc[0, [0, 3]]) -\
                                        SCI_radius_G5_minus_G1_GATES
# SCI U
CLAN_data_G5_minus_G1[0, [2, 5]] = np.array(GATES_table.iloc[4, [0, 3]]) - np.array(GATES_table.iloc[0, [0, 3]]) +\
                                        SCI_radius_G5_minus_G1_GATES

## Other vars (X), filling by column
for num, i in enumerate([['Group_5', 'Group_1'], ['Group_5_REAL', 'Group_1_REAL']]):
    G5_var = i[0]
    G1_var = i[1]
    # point estimate
    CLAN_data_G5_minus_G1[1:, num*3] = df_B[df_B[G5_var] == 1][x_cols].mean() - df_B[df_B[G1_var] == 1][x_cols].mean()
    # Lower SCI: DIVIDING BY SQRT OF NUMBER OF GROUP 5 OBSERVATIONS, ASSUMING THAT THE NUMBER OF OBSERVATIONS IN FIRST AND 
        # FIFTH GROUP IS THE SAME!!!!
    CLAN_data_G5_minus_G1[1:, num*3 + 1] = df_B[df_B[G5_var] == 1][x_cols].mean() - df_B[df_B[G1_var] == 1][x_cols].mean() -\
                            (df_B[df_B[G5_var] == 1][x_cols].var() + df_B[df_B[G1_var] == 1][x_cols].var()) ** 0.5 /\
                            np.sqrt(df_B[df_B[G5_var] == 1].shape[0]) * crit_val_simult
    # Upper SCI
    CLAN_data_G5_minus_G1[1:, num*3 + 2] = df_B[df_B[G5_var] == 1][x_cols].mean() - df_B[df_B[G1_var] == 1][x_cols].mean() +\
                            (df_B[df_B[G5_var] == 1][x_cols].var() + df_B[df_B[G1_var] == 1][x_cols].var()) ** 0.5 /\
                            np.sqrt(df_B[df_B[G5_var] == 1].shape[0]) * crit_val_simult


pd.DataFrame(CLAN_data_G5_minus_G1)

            0           1           2           3           4           5
0  155.910324  144.332193  167.488456  170.313368  167.970384  172.656352
1   -0.295825   -0.441097   -0.150553   -0.120989   -0.267633    0.025654
2    0.065617   -0.218947    0.350180    0.188377   -0.097665    0.474419
3    1.059675    0.855670    1.263679    1.027870    0.819154    1.236586
4   -0.345063   -1.486833    0.796706    0.076052   -1.061995    1.214098
5   -0.357507   -1.014251    0.299238   -0.014732   -0.664451    0.634987

## MSE and MAE of ML prediction of the treatment effect!!!

In [64]:
MSE = np.sum((df_B['s_0(X)'] - df_B['S(X)']) ** 2) / df_B.shape[0]
MAE = np.sum(np.abs(df_B['s_0(X)'] - df_B['S(X)'])) / df_B.shape[0]
print(MSE, MAE)

433.20434582342114 16.392727722094197